extends layout

block content
  h1 Edit
  form.pure-form(method="post" action=`/musics/${music.name}?edit=1`)
    .pure-g
      .pure-u-1.pure-u-sm-1-2.pure-u-lg-1-4
        .input-wrapper
          input(type="text" name="name" required value=music.name autocomplete="off").pure-input-rounded
      .pure-u-1.pure-u-sm-1-2.pure-u-lg-1-4
        .input-wrapper
          input(type="text" name="artist" value=music.artist autocomplete="off").pure-input-rounded
      .pure-u-1.pure-u-lg-1-2
        .input-wrapper
          input(type="text" name="url" size="40" value=music.url autocomplete="off").pure-input-rounded
      .pure-u-1.pure-u-sm-1-2
        .radio-wrapper
          p type
          - var iChecked = (music.type=== 'instrumental');
          - var sChecked = (music.type=== 'song');
          input(type="radio" name="type" value="instrumental" checked=iChecked)#_instrumental
          label(for="_instrumental").pure-radio Instrumental
          input(type="radio" name="type" value="song" checked=sChecked)#_song
          label(for="_song").pure-radio Song
      .pure-u-1.pure-u-sm-1-2
        .radio-wrapper
          p attribute
          - var cChecked = (music.attribute=== 'comfortable');
          - var dChecked = (music.attribute=== 'dark');
          - var nChecked = (!cChecked && !dChecked);
          input(type="radio" name="attribute" value="none" checked=nChecked)#_none
          label(for="_none").pure-checkbox None
          input(type="radio" name="attribute" value="comfortable" checked=cChecked)#_comfortable
          label(for="_comfortable").pure-checkbox Comfortable
          input(type="radio" name="attribute" value="dark" checked=dChecked)#_dark
          label(for="_dark").pure-radio Dark
      .pure-u-1
        .text-wrapper
          textarea(name="note" value=music.note)
      button(type="submit").pure-button.pure-button-primary That's correct!