extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/create") create
  h3 Music List
  .pure-g
    each music in musics
      .pure-u-1.pure-g.music-wrapper
        p.pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
          a(href=`/musics/${music.name}`) #{music.name}
        p.pure-u-1-2.pure-u-sm-1-2.pure-u-md-1-6 #{music.artist}
        p.pure-u-1-2.pure-u-sm-1-3.pure-u-md-1-6
          if music.url.includes('youtube')
            a(href=music.url) YouTube
          else if music.url.includes('soundcloud')
            a(href=music.url) SoundCloud
          else
            a(href=music.url) URL
        p.pure-u-1-2.pure-u-sm-1-3.pure-u-md-1-6 #{music.type}
        p.pure-u-1-2.pure-u-sm-1-3.pure-u-md-1-6
          if music.attribute === 'comfortable'
            span.comfortable #{music.attribute}
          else if music.attribute
            span.dark #{music.attribute}

