extends layout

block content
  link(rel='stylesheet', href='/stylesheets/styleL.css')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css")
  body
    .container-fluid.container-800
      .d-sm-flex.pt-3
        .w-50.mx-auto.d-flex.flex-column.justify-content-center.align-items-center.mb-3
          h1 List
          .d-flex.justify-content-center
            a(href="/").btn.btn-dark.com Home
            a(href="/create").btn.btn-dark.com.ml-3 Create
          
      .list
        each music in musics
          .music-wrapper.rounded-pill.text-center.py-3.px-4.mt-3
            .row
              p.col-12.col-sm-6.col-md-4.my-1
                a(href=`/music/${music.name}`).here #{music.name}
              p.col-6.col-md-2.my-1
                if music.artist
                  | #{music.artist}
                else
                  | ?
              p.col-6.col-sm-4.col-md-2.mb-0
                if music.url.includes('youtube')
                  a(href=music.url)
                    i.fab.fa-youtube
                else if music.url.includes('soundcloud')
                  a(href=music.url)
                    i.fab.fa-soundcloud
                else if music.url
                  a(href=music.url) URL
                else
                  | -
              p.col-6.col-sm-4.col-md-2.mb-0
                if music.type === 'song'
                  i.fas.fa-microphone-alt
                else
                  i.fas.fa-guitar
              p.col-6.col-sm-4.col-md-2.my-1
                if music.attribute === 'comfortable'
                  span.comfortable #{music.attribute}
                else if music.attribute
                  span.dark #{music.attribute}
                else
                  | -

        p.text-center.mt-4 That's all.